<h1>begin-ng</h1>

<p>
  Welcome to the dashbard for the begin-ng project. This project is designed as
  a starting point for Angular applications.
</p>
<p>This example module is the only viewable module in the application and serves as a kitchen-sink to show all of the available features</p>
<p>
  This project consists of the basic requirements that are used in most Angular
  applications. The file and folder structure is set up in such a way that the
  intention of each file is clear - this is good practice in your applications
  in general. This can however lead to a bloated folder structure for smaller
  applications so feel free to flatten things a bit - remember however your app
  *will* grow, and its beter to deal with the overhead of a expandable folder
  structure at the beginning of the project, than to chop up a huge monolyth of
  an application as it matures (trust me - I've done it and its horrible).
  Common features such as authentication, error handling and google analytics
  are set up in such a way that you can use this project as a reference, copying
  across and modifying the features as is required in your project. It is
  possible for you fork this whole repository as the start of your project,
  however this is not this intended, or recommended use.
</p>

<p>What does this project need to show?</p>
<ul>
  <li>Authentication, Authorsization</li>
  <li>Custom form controls and vlidations and form errors</li>
  <li>Component-Directives for styling standard form elements</li>
</ul>
