<table cdk-table [dataSource]="dataSource" *ngIf="columns" class="table">
  <ng-container *ngFor="let displayedColumn of displayedColumns">
    <ng-container [cdkColumnDef]="displayedColumn.propName">
      <th cdk-header-cell *cdkHeaderCellDef>{{displayedColumn.colTitle}}</th>
      <td cdk-cell *cdkCellDef="let rowData">
        <ng-container *ngIf="getTemplate(displayedColumn.propName) as template; else fallback">
          <ng-container *ngTemplateOutlet="template; context: { $implicit: rowData }">
          </ng-container>
        </ng-container>

        <ng-template #fallback>
          {{rowData[displayedColumn.propName]}}
        </ng-template>
      </td>
    </ng-container>
  </ng-container>


  <tr cdk-header-row *cdkHeaderRowDef="columns"></tr>
  <tr cdk-row *cdkRowDef="let row; columns: columns;"></tr>
</table>
