@use '../modal-default.scss';

table {
  margin: 0 auto;
}
th,
td {
  padding: 1em 0.5em;
  text-align: left;
  line-height: 1;
  &:first-child {
    padding-left: 0;
  }
  &:last-child {
    padding-right: 0;
  }
}
th {
  border-bottom: 1px solid black;
}
td {
  text-align: center;
  font-size: 0.9em;
  border-bottom: 1px solid black;
  border-left: 1px dotted black;
  &:last-child {
    border-right: 1px dotted black;
  }
}
