<div class="inner">
  <div class="scrollbar">
    <table>
      <thead>
        <tr>
          <th>First name</th>
          <th>Last name</th>
          <th>Age</th>
        </tr>
      </thead>
      <tr>
        <td>James</td>
        <td>Brown</td>
        <td>78</td>
      </tr>
      <tr>
        <td>John</td>
        <td>Smith</td>
        <td>45</td>
      </tr>
    </table>
    <div class="action-container">
      <p class="button--3" (click)="dialogRef.close(null)">
        OK
      </p>
    </div>
  </div>
</div>
