<span class="help-message">
  Please add occurrences of the workshop below. Once somebody signs up for an
  occurrence of a workshop it can no longer be removed.
</span>

<app-occurrence-form></app-occurrence-form>
<p class="field-group--button">
  <button type="button" (click)="onSubmit()">
    {{ occBeingEdited ? "Update" : "Add" }}
  </button>
  <button type="button" *ngIf="this.occBeingEdited" (click)="this.onCancel()">
    Cancel
  </button>
</p>

<table class="table">
  <tr>
    <th width="40%">Date</th>
    <th width="30%">PO number</th>
    <th width="10%">Capacity</th>
    <th width="10%"></th>
    <th width="10%"></th>
  </tr>
  <tr *ngFor="let occurrence of occurrences; let index = index">
    <td data-label="Start date">
      {{ occurrence.startDate | date: "shortDate" }}
    </td>
    <td>{{ occurrence.purchaseOrder }}</td>
    <td>{{ occurrence.capacity }}</td>
    <td data-label="Start date">
      <button type="button" [disabled]="occBeingEdited" (click)="onEdit(index)">
        <img src="assets/icons/edit.png" alt="Edit" height="18" width="18" />
      </button>
    </td>
    <td>
      <button
        type="button"
        [disabled]="occBeingEdited"
        (click)="onDelete(index)"
      >
        <img
          src="assets/icons/delete.png"
          alt="Delete"
          height="20"
          width="20"
        />
      </button>
    </td>
  </tr>
  <tr *ngIf="!occurrences?.length">
    <td colspan="4">Please add a workshop occurrence</td>
  </tr>
</table>
