<form #theForm="ngForm" [formGroup]="passwordForm">
  <label [for]="idPrefix + 'confirmPassword'">
    {{options?.pwdLabel ? options?.pwdLabel : 'Password'}}
  </label>
  <input
    type="password"
    [id]="idPrefix + 'password'"
    autocomplete="new-password"
    formControlName="password"
    (blur)="onBlur()"
  />

  <label [for]="idPrefix + 'confirmPassword'">
    {{options?.confirmLabel ? options?.confirmLabel : 'Confirm password'}}
  </label>
  <input
    type="password"
    [id]="idPrefix + 'confirmPassword'"
    autocomplete="new-password"
    formControlName="confirmPassword"
    (blur)="onBlur()"
  />
</form>
