<section class="introduction">
  <h1 *ngIf="!displayError">Nieuw wachtwoord</h1>
  <h1 *ngIf="displayError">Deze link is niet meer geldig</h1>
</section>

<section class="login-form">
  <p class="what-is-link" *ngIf="displayError">Herstel je wachtwoord opnieuw</p>
  <form [formGroup]="newPasswordForm" #form="ngForm" (ngSubmit)="submit()">
    <bgng-input-wrapper
      *ngIf="!displayError"
      label="Wachtwoord"
      [error]="form.submitted ? newPasswordForm.get('password').errors : null"
    >
      <input type="password" formControlName="password" />
    </bgng-input-wrapper>
    <div class="password-wrapper" *ngIf="!displayError">
      <bgng-input-wrapper
        label="Herhaal Wachtwoord"
        [error]="
          form.submitted
            ? newPasswordForm.get('confirmedPassword').errors
            : null
        "
      >
        <input type="password" formControlName="confirmedPassword" />
      </bgng-input-wrapper>
    </div>
    <button [bgng-button]>Doorgaan</button>
  </form>
</section>
